<section class="pt-0">
    <div class="d-none d-md-block d-flex flex-column bg-black position-relative" style="width: 290px; height: 100vh;">
        <div class="p-0 mt-3 ms-3 mb-1">
            <a href="#"
                class="d-flex align-items-center justify-content-start mb-3 mb-md-0 me-md-auto text-decoration-none">
                <img src="./images/dashboard/metronics-logo.svg" class="img-fluid" alt="">
            </a>
        </div>
        <div class="p-0">
                <button type="button"
                    class="btn btn-secondary border border-0 bg-dark py-2 ps-3 mt-3 ms-3 dash-btn"><img
                        src="./images/dashboard/dashboard-icon.png" class="img-fluid pe-3" alt="...">Dashboard</button>
          
            <div class="assests-management">
                <p class="ps-3 mt-3">Assets</p>
                <div class="accordion" id="accordionExample">
                    <div class="accordion-item border border-black">
                        <h2 class="accordion-header bg-black">
                            <button class="accordion-button bg-black fs-6 border border-0 border-black text-white"  
                                type="button" data-bs-toggle="collapse" data-bs-target="#collapseOne"
                                aria-expanded="true" aria-controls="collapseOne"><img
                                    src="./images/dashboard/assest-management.png" class="img-fluid pe-3" alt="...">
                                Assest Management
                            </button>
                        </h2>
                    </div>
                    <div id="collapseOne" class="accordion-collapse collapse" data-bs-parent="#accordionExample">
                        <div class="card card-body bg-black pt-1">
                            <ul class="list-group bg-black ms-3">
                                <a href="#"
                                    class="list-group-item list-group-item-action bg-black border border-0 text-white-50"
                                    aria-current="true">
                                    <li>
                                        Categories </li>
                                </a>
                                <a href="#"
                                    class="list-group-item list-group-item-action bg-black border border-0 text-white-50"
                                    aria-current="true">
                                    <li>
                                        Attributes </li>
                                </a>
                                <a href="#"
                                    class="list-group-item list-group-item-action bg-black border border-0 text-white-50"
                                    aria-current="true">
                                    <li>
                                        Assets </li>
                                </a>
                                <a href="#"
                                    class="list-group-item list-group-item-action bg-black border border-0 text-white-50"
                                    aria-current="true">
                                    <li>
                                        Asset Assignment </li>
                                </a>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>

            <div class="Expenses">
                <p class="ps-3 mt-4">Expenses</p>
                <div class="accordion" id="accordionExample1">
                    <div class="accordion-item border border-black">
                        <h2 class="accordion-header bg-black">
                            <button class="accordion-button  bg-black fs-6 border border-0 border-black text-white"
                                type="button" data-bs-toggle="collapse" data-bs-target="#collapseOne1"
                                aria-expanded="true" aria-controls="collapseOne1"><img
                                    src="./images/dashboard/expenses.png" class="img-fluid pe-3" alt="...">
                                Expenses
                            </button>
                        </h2>
                    </div>
                    <div id="collapseOne1" class="accordion-collapse collapse" data-bs-parent="#accordionExample">

                    </div>
                </div>
            </div>

            <div class="Project-Management">
                <p class="ps-3 mt-4">Projects</p>
                <div class="accordion" id="accordionExample2">
                    <div class="accordion-item border border-black">
                        <h2 class="accordion-header bg-black">
                            <button class="accordion-button bg-black fs-6 border border-0 border-black text-white"
                                type="button" data-bs-toggle="collapse" data-bs-target="#collapseOne2"
                                aria-expanded="true" aria-controls="collapseOne2"><img
                                    src="./images/dashboard/project.png" class="img-fluid pe-3" alt="...">
                                Project Management
                            </button>
                        </h2>
                    </div>
                    <div id="collapseOne2" class="accordion-collapse collapse" data-bs-parent="#accordionExample2">
                        <div class="card card-body bg-black pt-1">
                            <ul class="list-group bg-black ms-3">
                                <a href="#"
                                    class="list-group-item list-group-item-action bg-black border border-0 text-white-50"
                                    aria-current="true">
                                    <li>
                                        Categories </li>
                                </a>
                                <a href="#"
                                    class="list-group-item list-group-item-action bg-black border border-0 text-white-50"
                                    aria-current="true">
                                    <li>
                                        Projects </li>
                                </a>
                                <a href="#"
                                    class="list-group-item list-group-item-action bg-black border border-0 text-white-50"
                                    aria-current="true">
                                    <li>
                                        Tasks </li>
                                </a>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>

            <div class="Employee">
                <p class="ps-3 mt-4">Users</p>
                <button class="btn btn-dark bg-black border border-0 ms-2 fs-6" type="button"><img
                        src="./images/dashboard/employe.png" class="img-fluid pe-3" alt="...">
                    Employees
                </button>
            </div>

            <div class="position-absolute" style="top: 10px; right: -30px;">
                <button type="button" class="btn border border-0">
                    <img src="./images/dashboard/collaps.png" class="img-fluid" alt="...">
                </button>
            </div>
        </div>
    </div>

</section>